{% extends 'templates/app.twig' %}

{% block content %}
  <h3>Making a room is super easy. Go to profile, create a room, share the room information with people you like (or hate) and start chatting!</h3>
  <img height="300"src="https://imgs.xkcd.com/comics/preferred_chat_system.png" alt="">
{% endblock %}
